@model List<digibox.services.Models.OpnameDetail>
@{
    ViewBag.Title = "PrintAll";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

@foreach (var itm in Model)
{
    <table class="table" style="border:1px solid black">
        <tr>
            <td colspan="2">
                <h2>UNILEVER INDONESIA</h2>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/dist/img/U11.png" style="width:200px" />
            </td>
            <td>
                <table class="table">
                    <tr>
                        <td>
                            Material Code
                        </td>
                        <td>
                            @itm.partno
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Material Name
                        </td>
                        <td>
                            @itm.materialName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Distributed By
                        </td>
                        <td>
                            @itm.inOutName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>
                            @itm.description
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <img src="@itm.qrimage" />
            </td>
            <td>
                <img src="@itm.barcodeimage" />
            </td>
        </tr>
    </table>

    <p/>
}



