
@model digibox.services.Models.OutgoingModel
    @{ 
        var materialinventory = ViewData["materialinventory"] as List<SelectListItem>;

    }

<div class="modal fade" id="dgModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddOutputMaterial", "Request", FormMethod.Post, new { @id = "frmAdd", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body form-horizontal">
                    <div class="form-group row">
                        @Html.LabelFor(x => x.inventoryid, new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(x => x.inventoryid, materialinventory, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(x => x.amount, new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.amount, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

