@model digibox.services.Models.UserChangePasswordModel

<div class="modal inmodal" id="dgChangePassword" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated ">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @id = "frmChangePassword" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@Model.id" />
                <input type="hidden" name="UserName" value="@Model.UserName" />
                <div class="modal-body">
                    <div class="form-group row">
                        @Html.LabelFor(X => X.oldpassword, new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.PasswordFor(X => X.oldpassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(X => X.password, new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.PasswordFor(X => X.password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(X => X.repassword, new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.PasswordFor(X => X.repassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>